
<div id="CreateGroup">

  <div class="item">새로운 그룹을 만들어 보세요!</div>
  {# 그룹 생성 버튼 #}
  <button id="group-create-button" data-modal-target="group-create-modal" data-modal-toggle="group-create-modal" class="item">
    <div class="square">
        <div class="inner">
            <!-- SVG 그래픽 요소들 -->
            {% comment %} 라인 위치는 groups.js 에서 컨트롤 됩니다.{% endcomment %}
            {% comment %} <svg width="auto" height="auto">
                <line id="vertical-line" class="line" />
                <line id="horizontal-line" class="line" />
            </svg> {% endcomment %}
        </div>
    </div>
  </button>
</div>
