{% load static %}
<div id="group-area">
  <div class="row menu">
    <div id="group-search-bar" class="menu-item">
      <form action"#" method="get">
        <input type="search" placeholder="{{ user }} : {{ groups|length }} 그룹">
      </form>
    </div>
    <button id="group-create-button"
            class="menu-item"
            data-modal-target="group-create-modal" 
            data-modal-toggle="group-create-modal">
    <div class="square">
      <div class="inner">
        <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C12.5523 4 13 4.44772 13 5V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V5C11 4.44772 11.4477 4 12 4Z"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
        </svg>
      </div>
    </div>
    </button>
  </div>
  <div id="group-buttons-grid" class="row">
    {% for group in groups %}
      {% include 'groups/index/__group_button.html' with group=group %}
    {% endfor %}
  </div>
</div>

{% comment %} <script>
  function updateIconViewBox() {
    var container = document.querySelector('#group-create-button .square');
    console.log(container);
    var icon = document.querySelector('.icon');
    console.log(icon);
    var parentWidth = container.clientWidth;
    console.log(parentWidth);
    var parentHeight = container.clientHeight;
    var aspectRatio = 1; // 기본 가로 세로 비율

    // viewBox 값 계산
    var viewBoxWidth = parentWidth;
    console.log(viewBoxWidth);
    
    // viewBox 설정
    icon.setAttribute('viewBox', '0 0 ' + viewBoxWidth + ' ' + viewBoxWidth);
  }

  function handleResize() {
    updateIconViewBox();
  }

  function handleLoad() {
    updateIconViewBox();
  }

// 화면 로드 시 호출
window.addEventListener('load', handleLoad);
// 리사이징 이벤트 시 호출
window.addEventListener('resize', handleResize);
</script> {% endcomment %}
