{% extends 'base.html' %}
{% load static %}

{% block title %}{{ group }}{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/group_detail.css' %}">{% endblock css %}

{% block side %}
  {% include 'sidebar.html'%}
{% endblock side %} 

{% block content %}

<div class="content">
  <section class="header">
    <div class="wrapper">
      <div class="image group-img">
        <img src={{ group.thumbnail.url }} alt="그룹 이미지">
      </div>
      <div class="group-info">
        <div class="header-top">
          <h3 class="group-name">{{ group }}</h3>
          <button class="main-btn">초대하기</button>
        </div>
        <div>
          <p>{{ group.intro }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="tab-list">
    <ul class="tab-content" id="groupTab" data-tabs-toggle="#groupTabContent" role="tablist">
      <li class="tab-btn" role="presentation">
        <button id="post-tab" data-tabs-target="#post" role="tab" aria-controls="post" aria-selected="false">게시물</button>
      </li>
      <li class="tab-btn" role="presentation">
        <button id="calendar-tab" data-tabs-target="#calendar" role="tab" aria-controls="calendar" aria-selected="false">캘린더</button>
      </li>
      <li class="tab-btn" role="presentation">
        <button id="chat-tab" data-tabs-target="#chat" role="tab" aria-controls="chat" aria-selected="false">채팅</button>
      </li>
      <li class="tab-btn" role="presentation">
        <button id="album-tab" data-tabs-target="#album" role="tab" aria-controls="album" aria-selected="false">앨범</button>
      </li>
    </ul>
  </section>


  <div id="groupTabContent">
    <!-- 게시물 탭 -->
    <section class="post-list" id="post" role="tabpanel" aria-labelledby="post-tab">
      <!-- 공지사항 dropdown -->
      <div id="accordion-collapse" data-accordion="collapse">
        <h2 id="accordion-collapse-heading-1">
          <button id="notice-btn" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
            <span>공지사항(3)</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="rgb(107 114 128)" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-1" class="hidden mb-6" aria-labelledby="accordion-collapse-heading-1">
          <div class="notice-link-wrapper">
            <a href="" class="notice-link">공지 제목 어쩌고 저저고</a>
            <a href="" class="notice-link">공지 제목 어쩌고 저저고</a>
            <a href="" class="notice-link">공지 제목 어쩌고 저저고</a>
          </div>
        </div>
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="create main-btn">글 작성  <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="py-2 text-md text-gray-700" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100">후기글</a>
            </li>
            <li>
              <a href="{% url 'groups:post_create' group.pk %}" class="block px-4 py-2 hover:bg-gray-100">일반글</a>
            </li>
            <li>
              {% comment %} <a href="#" class="block px-4 py-2 hover:bg-gray-100">투표</a> {% endcomment %}
              <!-- Modal toggle -->
              <button data-modal-target="vote-create-modal" data-modal-toggle="vote-create-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                투표
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- 게시물 출력 -->
      <div class="post-group">
        {% for writing in writings %}
          <!-- 다이어리 -->
          {% if writing.get_model_name == 'diary' %}
          
          <!-- 게시글 -->
          {% elif writing.get_model_name == 'post' %}
            <article class="post">
              <div class="user">
                <div class="image user-img">
                  {% if writing.user.image %}
                    <img src="{{ writing.user.image.url }}" alt="profile image">
                  {% else %}
                    <img src="https://images.unsplash.com/photo-1629142796909-aeddffc6a3a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" alt="">
                  {% endif %}
                </div>
                <p class="user-name">{{ writing.user.nickname }}</p>
              </div>
              <a href="{% url 'groups:post_detail' group.pk writing.pk %}" class="post-link">
                <div class="post-content">
                  <h3 class="post-title">{{ writing.title }}</h3>
                  <div class="meeting">
                    <p class="meeting-name">모임 이름</p>
                    <p class="meeting-date">2023.05.29</p>
                  </div>
                  <p class="post-detail">{{ writing.content }}</p>
                  <div class="reaction">
                    <div class="reaction-item">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="var(--color-main)" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--color-main)" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                      </svg>
                      <p>{{ writing.postcomment_set.all|length }}</p>                      
                    </div>
                    <div class="reaction-item">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="var(--color-main)" viewBox="0 0 24 24" stroke="var(--color-main)" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                      </svg>
                      <p>{{ writing.emote_users.all|length }}</p>                      
                    </div>
                  </div>
                </div>
                <div class="image post-img">
                  {% for image in writing.postimage_set.all|slice:":1" %}
                    <img src="{{ image.image.url }}" alt="post 첫번째 사진">
                  {% endfor %}
                  <div class="more-img">
                    <p>+{{ writing.postimage_set.all|length }}</p>
                  </div>
                </div>
              </a>
            </article>
          <!-- 투표 -->
          {% elif writing.get_model_name == 'vote' %}
            <article class="post vote">
              <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" stroke="gray"><path stroke-width="1" d="M180-80q-24 0-42-18t-18-42v-198l135-149 43 43-118 129h600L669-441l43-43 128 146v198q0 24-18 42t-42 18H180Zm0-60h600v-115H180v115Zm262-245L283-544q-19-19-17-42.5t20-41.5l212-212q16.934-16.56 41.967-17.28Q565-858 583-840l159 159q17 17 17.5 40.5T740-597L528-385q-17 17-42 18t-44-18Zm249-257L541-792 333-584l150 150 208-208ZM180-140v-115 115Z"/></svg>
              <button data-modal-target="vote-modal-{{ writing.pk }}" data-modal-toggle="vote-modal-{{ writing.pk }}" class="vote-btn">
                <h3 class="post-title">{{ writing.title }}</h3>
                <p class="meeting">{{ writing.d_day }}</p>
              </button>
              <!-- 투표 Modal -->
              <div id="vote-modal-{{ writing.pk }}" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative w-full max-w-md max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                      <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                        {{ writing.title }}
                      </h3>
                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="vote-modal-{{ writing.pk }}">
                          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                          <span class="sr-only">Close modal</span>
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                      {% for option in writing.voteselect_set.all %}
                        <form action="{% url 'groups:throw_vote' group.pk writing.pk option.pk %}" method="POST">
                          {% csrf_token %}
                          <!-- 선택지 -->
                          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            {{ option.content }}
                          </p>
                          <!-- 투표한 사람 -->
                          <!-- 유저 어떤 방식으로 보여줄지 미정 -->
                          <div>{{ option.select_users.all|length }}</div>
                          <!-- 투표버튼 -->
                          <input type="submit" value="{% if request.user in option.select_users.all %}취소{% else %}투표{% endif %}">
                        </form>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </article>
          {% endif %}
        {% endfor %}
      </div>

      <nav class="page-navigation" aria-label="Page navigation">
        <ul class="inline-flex items-center -space-x-px">
          <li>
            <a href="#" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
              <span class="sr-only">Previous</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </li>
          <li>
            <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
          </li>
          <li>
            <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">2</a>
          </li>
          <li>
            <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight text-gray-500 border border-[var(--color-main)] bg-[#d1d8ff80] hover:bg-[#a8afed80] hover:text-gray-700">3</a>
          </li>
          <li>
            <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">4</a>
          </li>
          <li>
            <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">5</a>
          </li>
          <li>
            <a href="#" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
              <span class="sr-only">Next</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </li>
        </ul>
      </nav>

    </section>

    <section class="post-list" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
      <p>calendar</p>
    </section>
    
    <section class="post-list" id="chat" role="tabpanel" aria-labelledby="chat-tab">
      <p>chat</p>
    </section>

    <section class="album-list" id="album" role="tabpanel" aria-labelledby="album-tab">
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
      <div class="imgae album-img">
        <a href="">
          <img src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" alt="">
        </a>
      </div>
    </section>
  </div>
</div>

<!-- vote create modal -->
<div id="vote-create-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="vote-create-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">투표 작성</h3>
        <form class="space-y-6" action="{% url 'groups:vote_create' group.pk %}" method="POST">
            {% csrf_token %}
            {% for field in vote_form %}
              <div>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
              </div>
            {% endfor %}
            <!-- 선택지 -->
            <div id="options-container">
              <label for="options" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">선택지</label>
              <button type="button" id="plus-button">+항목추가</button>
              <!-- 필수 항목 두개, 이후 추가 가능 -->
              <input type="text" name="options" id="options" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
              <input type="text" name="options" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
          <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">저장</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/groups/vote_option_create.js' %}"></script>
{% endblock content %}