{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/diary.css' %}">{% endblock css %}

{% block title %}JELLY | {{ post.title }}{% endblock title %}

{% block side %}
  {% include 'sidebar.html' %}
{% endblock side %}

{% block content %}
<div class="wrapper">
  <div class="content">
    <section class="header justify-between">
      <div class="flex gap-2">
        <a href="{% url 'accounts:profile' user %}" class="diary main-btn">목록</a>
        <a href="{% url 'diaries:index' %}" class="diary main-btn">이전글</a>
        <a href="{% url 'diaries:index' %}" class="diary main-btn">다음글</a>
      </div>
    </section>
    
    <section class="post-content">
      <div class="flex justify-between items-end px-2">
        <div>
          <div class='flex mx-4'>
            {% if post.user.image %}
              <img src="{{ post.user.image.url}}" alt="프로필" class='create-user-img'>        
            {% else %}
              <img src="{% static 'img/blank_profile_img.png' %}" alt="기본 프로필 이미지" class='create-user-img'>
            {% endif %}
            <h2 class="title flex items-center ms-4">{{ post }}</h2>
          </div>
          <p class="mx-4 px-3 date">{{ post.user }}</p>
          <div class='flex px-2 mt-1'>
            <p class="date mx-3">{{ post.created_string }}</p>
            <p class="date">조회수: {{ post.hits.all|length }}</p>
          </div>
        </div>
        <div class="flex gap-4">

          <form action="{% url 'groups:notice_post' group.pk post.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="공지 {% if post.is_notice %}취소{% else %}등록{% endif %}" class="text-sm">
          </form>
          <a href="{% url 'groups:post_update' group.pk post.pk %}" class="diary">수정</a>
          <form action="{% url 'groups:post_delete' group.pk post.pk %}" method="POST">
            {% csrf_token %}
            <input class='diary delete' onclick="return confirm('정말 삭제하시겠습니까?')" type="submit" value="삭제">
          </form>
        </div>
            
      </div>
      <hr class="diary-hr">
      <div class="ck-content diary-detail">
        <div class="text-lg px-5">
          내용 : {{ post.content }}
        </div>
        <div class="content-img-wrapper">
          {% for image in post.postimage_set.all %}
            <div class="content-img">
              <img src="{{ image.image.url }}" alt="게시글 이미지">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="relative">
        <a href="#" class="top-btn">
          <svg style="color: rgb(0, 0, 0);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z" fill="#000000"></path> </svg>
          TOP
        </a>
      </div>
      </section>

      {% comment %} 댓글 부분 {% endcomment %}
      {% comment %} 1:👍 2:🥰 3:🤣 4:😲 5:😭 6:🥳 {% endcomment %}
      <div class="post-content bottom">
        <section class="reaction">
          <div>
            <button id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="diary reaction-count" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="#FACA1590" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
              </svg>            
              <p class="emotion-total-count">{{ post.emote_posts.all|length }}</p>
            </button>
            {% comment %} 감정표현 드랍다운 메뉴 {% endcomment %}
            <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow">
              <ul class="emotion-group" aria-labelledby="dropdownDefaultButton">
                {% for emotion in emotions %}
                  <li class="emotion {% if emotion.exist %}selected-emotion{% endif %}">
                    {% if request.user.is_authenticated %}
                      {{ emotion.queryset }}
                      <form class="emotion-form" data-group-id="{{ group.pk }}" data-post-id="{{ post.pk }}" data-emotion="{{ emotion.value }}">
                        {% csrf_token %}
                        <button class="emotion-btn">
                          {% if emotion.value == 1 %}
                            <span class="emotion-emoji">👍</span>
                          {% elif emotion.value == 2 %}
                            <span class="emotion-emoji">🥰</span>
                          {% elif emotion.value == 3 %}
                            <span class="emotion-emoji">🤣</span>
                          {% elif emotion.value == 4 %}
                            <span class="emotion-emoji">😲</span>
                          {% elif emotion.value == 5 %}
                            <span class="emotion-emoji">😭</span>
                          {% else %}
                            <span class="emotion-emoji">🥳</span>
                          {% endif %}
                          <span>{{emotion.label}}</span>
                          <p class="emotion-count">{{ emotion.count }}</p>
                        </button>
                      </form>
                    {% else %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="reaction-count">
            <span>댓글</span>
            <span>{{ comments|length }}</span>
          </div>
        </section>
    
        <section>
          <div>
            {% comment %} 댓글 작성 칸 {% endcomment %}
            <form action="{% url 'groups:comment_create' group.pk post.pk %}" method="POST" class="comment-form">
              {% csrf_token %}
              {{ comment_form }}
              <input type="submit" value="작성" class="comment main-btn">
            </form>
          </div>
          {% comment %} 댓글 리스트 {% endcomment %}
          <div class="comment-wrapper">
            {% for comment in comments %}
              <div class="comment-area" data-comment-id="{{ comment.pk }}" data-group-id="{{ group.pk }}" data-post-id="{{ post.pk }}">
                <div class="comment-content">
                  <div class="flex gap-3">
                    <div class="create-user-img">
                      {% if comment.user.image %}
                        <img src="{{ comment.user.image.url }}" alt="">
                      {% else %}
                        <img src="{% static 'img/blank_profile_image.png' %}" alt="">
                      {% endif %}
                    </div>
                    <div>
                      <p class="comment-user">{{ comment.user }}</p>
                      <p class="comment-comment">{{ comment.content }}</p>
                    </div>
                  </div>
                  <form id="comment-update-form" class="hidden comment-form">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="수정" class="comment main-btn">
                  </form>
                  <div class="date comment-bottom">
                    <div class="comment-bottom-item">
                      <p>{{ comment.created_at }}</p>
                      {% comment %} 댓글 좋아요 {% endcomment %}
                      {% comment %} <form class="comment-like-forms" action="{% url 'diaries:comment_like' group.pk diary.pk comment.pk %}" method="POST" data-comment-id="{{ comment.pk }}" data-group-id="{{ group.pk }}" data-post-id="{{ diary.pk }}"> {% endcomment %}
                      <form class="comment-like-form">
                        {% csrf_token %}
                        <button type="submit" class="comment-like-btn">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="{% if request.user in comment.like_users.all %}#E02424{% else %}none{% endif %}" viewBox="0 0 24 24" stroke-width="1.5" stroke="#E02424" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                          </svg>
                          <span>{{ comment.like_users.count }}</span>
                        </button>
                      </form>
                    </div>
                    <div class="comment-bottom-item">
                      {% if comment.user == request.user %}
                        <button class="comment-update-btn">댓글 수정</button>
                        <form action="{% url 'groups:comment_delete' group.pk post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          <input type="submit" value="댓글삭제" class="delete" onclick="return confirm('댓글을 삭제하시겠습니까?')">
                        </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <hr class="comment-hr">
            {% endfor %}
          </div>
        </section>
      </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/post_detail.js' %}"></script>
{% endblock script %}