{% extends 'base.html' %}

{% block content %}
{% comment %} 게시글 {% endcomment %}
<div>
  {% for image in post.postimage_set.all %}
    <img src="{{ image.image.url }}" alt="게시글 이미지">
  {% endfor %}
  제목 : {{ post }}
  작성자 : {{ post.user }}
  내용 : {{ post.content }}
  작성일 : {{ post.created_string }}
  조회수 : {{ post.hits.all|length }}
</div>

{% comment %} 뒤로가기, 게시글 수정, 삭제, 공지등록 버튼 {% endcomment %}
<div>
  <a href="{% url 'groups:group_detail' group.pk %}">뒤로가기</a>
  <a href="{% url 'groups:post_update' group.pk post.pk %}">수정</a>
  <form action="{% url 'groups:post_delete' group.pk post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <!-- 공지 등록 버튼 -->
  <form action="{% url 'groups:notice_post' group.pk post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="공지 {% if post.is_notice %}취소{% else %}등록{% endif %}">
  </form>
</div>

{% comment %} 감정표현 {% endcomment %}
<div>
  {% for emotion in emotions %}
    <div>
      <form action="{% url 'groups:emote' group.pk post.pk emotion.value %}" method="POST">
        {% csrf_token %}
        {% if emotion.exist %}
          <input type="submit" value="{{ emotion.label }} {{ emotion.count }} 취소">
        {% else %}
          <input type="submit" value="{{ emotion.label }} {{ emotion.count }}">
        {% endif %}
      </form>
    </div>
  {% endfor %}
</div>


{% comment %} 댓글 {% endcomment %}
<div>
  {% comment %} 댓글 개수 {% endcomment %}
  <div>댓글 {{ post.postcomment_set.all|length }}개</div>

  {% comment %} 댓글 작성 form {% endcomment %}
  <form action="{% url 'groups:comment_create' group.pk post.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글 작성">
  </form>

  {% comment %} 댓글 조회 {% endcomment %}
  <div>
    {% for comment in post.postcomment_set.all %}
      <div>
        {{ comment.user }}
        {{ comment.content }}
        {{ comment.created_string }}

        {% comment %} 수정, 삭제 버튼 {% endcomment %}
        {% if request.user == comment.user %}
          <div>
            {% comment %} 수정 버튼 비동기 처리 필요 {% endcomment %}
            <button type="">수정</button>
            {% comment %} 수정 눌렀을 때 나올 form {% endcomment %}
            <form action="{% url 'groups:comment_update' group.pk post.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <input type="text">
              <input type="" value="저장">
            </form>
            <form action="{% url 'groups:comment_delete' group.pk post.pk comment.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="삭제">
            </form>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}