{% extends 'groups/post_create.html' %}

{% block form %}
  <form action="{% url 'groups:post_update' group.pk post.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form.as_p }}
    {{ image_delete_form.as_p }}
    <div class="btns">
      <input type="file" name="images" id="post-images" multiple>
      <div class="flex gap-4">
        <input type="submit" value="저장" class="main-btn bg-[var(--color-main)]">
        <a href="{% url 'groups:post_detail' group.pk post.pk %}" class="main-btn back" onclick="return confirm('글쓰기를 종료하시겠습니까?\n작성 중인 글은 저장되지 않습니다. ')">취소</a>
      </div>
    </div>
  </form>
{% endblock form %}