@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --color-main: #A8AFED;
  --color-main-light: #D1D8FF;
  --color-main-dark: #969CD4;
  --color-gray: #D9D9D9;
  --color-gray-dark: #6B7280;
  --color-pink: #EDDBFF;

  /* size */
  /* content 최소 높이 */
  --content-min-height: calc(100vh - 118px); 
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

main {
  min-height: var(--content-min-height);
  /* padding이나 margin 값은 사이드, 네브바 확인 후 추가해야 할 것 같습니다 */
}