html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.index.container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: ". content .";
  min-height: calc(var(--content-min-height) - 200px);
  margin: 5% auto 5% auto;
}
.index.content {
  grid-area: content;
  display: flex;
}

@media (max-width: 1000px) {
	.index.content {
		flex-direction: column;
	}
}
@media (min-width: 1000px) {
	.index.content {
  flex-direction: row;
	}
}
.index.content.item {
  flex-grow: 1;
  flex-basis: 50%;
}

/* #index-nav .index-header-wrap {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#index-nav .index.logo-line {
  border-color: var(--color-main-light);
  border-width: 3px;
  width: 70%;
  height: 0;
} */
