nav .row { 
  display: flex;
}

nav .column {
  display: flex;
  flex-direction: column;
}

nav .logo {
  width: 20rem;
  height: auto;
  margin: 3rem auto 1.5rem;
  display: block;
}

nav .nav--tab {
  height: 40px;
  top: 3%;
  right: 5%;
  position: absolute;
  align-items: center;
}

nav .nav--tab p {
  margin-right: 1.5rem;
}

nav .nav--line {
  border: 3px solid;
  width: 80%;
  margin: auto;
  border-color: var(--color-main-light);
}

/* nav .index-header-wrap {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav .index.logo-line {
  border-color: var(--color-main-light);
  border-width: 3px;
  width: 70%;
  height: 0;
} */