{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/login.css' %}"> 
{% endblock css %}

{% block content %}
<div class='signup-container'>
  <div class='signup-box'>
    <div class='signup-logo'>
      <a href="{% url 'accounts:login' %}"><img src="{% static 'img/index_logo.png' %}" alt=""></a>
    </div>
    <form class='signup-form' action="{% url 'accounts:signup' %}" method="POST" enctype = 'multipart/form-data'>
      {% csrf_token %}
      {% for field in form %}
      <div>
        {{ field }}
      </div> 
      {% endfor %}
      <button class='signup-btn'>회원가입</button>
    </form>
  </div>
</div>
{% endblock content %}