* {
  box-sizing: border-box;
}


[type=text]:focus {
  outline: none
}

/* 마우스 hover 시 var(--color-main) 색상 적용 */
input:hover, select:hover, textarea:hover, button:hover {
  border-color: var(--color-main);
}

/* 캐루셀 */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.carousel {
  width: 18rem;
  margin: 2rem;
}

.carousel-wrapper {
  max-width: 18rem; /* 원하는 최대 너비로 설정 */
  width: 100%;
  height: 400px; /* 안 먹고 있는 듯원하는 높이로 설정 */
  margin: 0 auto;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* 로그인폼 */
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  margin: 2rem;
  padding: 2rem;
}

.logo {
  width: 10rem;
  height: auto;
  margin: 1rem 0rem 1.5rem 0rem;
}

.form-control {
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  /* outline: none; */
  appearance: none;
}

.login-btn {
  border: solid var(--color-main);
  background-color: var(--color-main);
  width: 14.75rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  margin-top: 0.5rem;
  text-align: center;
}

.bar {
  border: solid 0.1px rgb(210, 206, 206);
  width: 18rem;
  margin: 2rem auto;
}

/* signup.html */

.signup-logo {
  width: 14rem;
  height: auto;
  margin: 1rem 0rem 1.5rem 0rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator-btn[aria-current=true]  {
  background-color: black;
}