* {
  box-sizing: border-box;
}


/* 마우스 hover 시 var(--color-main) 색상 적용 */
input:hover, select:hover, textarea:hover, button:hover {
  border-color: var(--color-main);
}

button:hover {
  background-color:#7B83C7;
  border: #7B83C7
}

/* 캐루셀 */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.owl-carousel {
  width: 200px !important;
  margin-right: 30px;
}

@media screen and (max-width: 1000px) {
  .owl-carousel {
    display: none !important;
  }
}

.owl-stage-ourter {
  width: 200px !important;
}


.carousel-img {
  width: 200px;
}

.carousel-img img {
  width: 200px;
}


/* 로그인폼 */
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  padding: 2rem 0.7rem;
}

.logo {
  width: 10rem;
  height: auto;
  margin: 1rem 0rem 1.5rem 0rem;
}

.login-form-control {
  border: 1px solid darkgray;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  appearance: none;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--color-main);
  background-color: var(--color-main);
  width: 14.75rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  margin-top: 0.5rem;
  text-align: center;
}

.login-btn:hover {
  background-color:#7B83C7;
  border: #7B83C7
}

.bar {
  border: solid 0.1px rgb(210, 206, 206);
  width: 18rem;
  margin: 1.5rem auto;
}

.social-box {
  border: solid 1px rgb(210, 206, 206);
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 13rem;
  height: 2.5rem;
  margin-top: 10px;
}

/* signup.html */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  width: 25rem;
  margin: 2rem;
  padding: 2rem;
}

.signup-logo {
  width: 14rem;
  height: auto;
  margin: 1rem 0rem 2rem 0rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-control {
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 18rem;
  margin-bottom: 0.5rem;
  appearance: none;
  cursor: pointer;
}

.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--color-main);
  background-color: var(--color-main);
  width: 18rem;
  height: 2.5rem;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
  text-align: center;
}

.signup-btn:hover {
  background-color:#7B83C7;
  border: #7B83C7
}

/* 회원정보 수정 */
.update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}


.update-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--color-main);
  background-color: var(--color-main);
  width: 18rem;
  height: 2.5rem;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
  text-align: center;
}

.change-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--color-main);
  background-color: var(--color-main);
  width: 18rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
  text-align: center;
}

.change-password-btn:hover {
  background-color:#7B83C7;
  border: #7B83C7
}

