
<nav>
  <div class="row">
    <img src="{% static 'img/JELLY_logo.png' %}" alt="" class="">
    {% if user.is_authenticated %}
      <div class="row nav--tab">
        <a href="{% url 'accounts:profile' user.username %}"><p>프로필</p></a>
        <form action="{% url 'accounts:logout' %}" method='POST'>
          <input type="submit" value='로그아웃'>
        </form>
      </div>
    {% else %}
    <div class="row nav--tab">
      <a href="{% url 'accounts:signup' %}"><p>회원가입</p></a>
      <a href="{% url 'accounts:login' %}"><p>로그인</p></a>
    </div>      
    {% endif %}
  </div>
  <div class="nav--line"></div> 
</nav>