{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">  
{% endblock css %}

<aside class="aside">
  <a href="{% url 'groups:index' %}">
    <img src="{% static 'img/side_logo.png' %}" alt="로고" class="side-logo">
  </a>
  {% if user.image %}
  <a href="{% url 'accounts:profile' user.username %}">
    <img src="{{ user.image.url}}" alt="프로필" class='side-img'>
  </a>
  {% else %}
  <a href="{% url 'accounts:profile' user.username %}">
    <img src="{% static 'img/blank_profile_img.png' %}" alt="기본 프로필 이미지" class='side-img'>
  </a>
    {% endif %}
  <div class='bar'></div>
  {% for group in request.user.user_groups.all %}
    {% if group == current_group %}
    {# 현재 접속 중인 그룹 - 클래스 수정 해 주세요 #}
    <a href="{% url 'groups:group_detail' group.pk %}">
      <img src="{{ group.thumbnail.url }}" alt="그룹이미지" class='side-img-border-color'>
    </a>
    {% else %}
    {# 나머지 그룹 #}
    <a href="{% url 'groups:group_detail' group.pk %}">
      <img src="{{ group.thumbnail.url }}" alt="그룹이미지" class='side-img'>
    </a>
    {% endif %}
  {% endfor %}
  <div class="bar"></div>
  {% comment %} 그룹 생성 모달 달아야함 {% endcomment %}
  <!-- Modal toggle -->
  <button data-modal-target="GroupCreate-modal" data-modal-toggle="GroupCreate-modal" class="GroupCreate-ModalToggle-btn" type="button">
    <img src="{% static 'img/side_PlusButton.png' %}" alt="그룹생성버튼" class='side-img side-plus'>
  </button>
</aside>

<!-- Main modal -->
<div id="GroupCreate-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative GroupCreate-modal-content bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="GroupCreate-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium GroupCreate-txt dark:text-white">그룹을 만들어보세요</h3>
        <form action="{% url 'groups:group_create' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <p class='Group-label'>{{ group_form.name.label }}</p>
          <p>{{ group_form.name }}</p>
          <p class='Group-label'>{{ group_form.intro.label }}</p>
          <p>{{ group_form.intro }}</p>
          <p class='Group-label'>{{ group_form.thumbnail.label }}</p>
          <p>{{ group_form.thumbnail}}</p>
          <!-- 그룹 비밀번호 -->
          <p class='Group-label'>그룹 암호</p>
          <p><input type="password" class="create-form" name="password1" required></p>
          <p class='Group-label'>그룹 암호 확인</p>
          <p><input type="password" class="create-form" name="password2" required></p>
          <button class='GroupCreate-btn'>그룹생성</button>
        </form>
      </div>
    </div>
  </div>
</div> 

{% comment %} ㅇㅇ {% endcomment %}